/* Contenedor de toda la tarjeta */
.EspadaLarga-container {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: auto;
}

/* Imagen espada larga */
.EspadaLarga-image {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    max-width: 250px; /* Tamaño máximo para evitar que sea demasiado grande */
    height: auto; /* Mantendrá la proporción de la imagen */
    border-radius: 10px 10px 0 0;
    margin: 0 auto; /* Centrar la imagen dentro del contenedor */
}